// if anyone needs to use scss
// TODO: check --prefers-color-scheme
$primary: #635fc7;
$primary-light: #a8a4ff;

$destructive: #ea5555;
$destructive-light: #ff9898;

$slate-100: #f4f7fd;
$slate-200: #e4ebfa;
$slate-500: #828fa3;
$slate-600: #3e3f4e;
$slate-700: #2b2c37;
$slate-800: #20212c;
$slate-900: #000112;
